<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../index.js" defer></script>
  <title> WebPack Project</title>
</head>
<body >
  <div id="login" class="login-form">
    <form id="formlogin">
        <h1> LOG IN</h1>  
    <label> Username(redtiger192) </label>
    <span>  </span>
    <input id="name" type="text" placeholder="Your Username" >
    <label>Password(123456780)</label>
    <span> </span>
    <input id="password" type="password" placeholder="Your Password" >  
    <a href="#"> Forgot the password?</a>
    <button type="button" onclick="clicked()"><a id="link" > Sign In</a> 
    </form>

    </div>
</body>
</html>